POSTGRES_DB= Your Postgres db name
POSTGRES_USER= Your Postgres db owners name
POSTGRES_PASSWORD= Your Postgres db owners password
POSTGRES_HOST= Your Postgres db host (127.0.0.1 for localhost)
SECRET_KEY= Your django secert key
EMAIL_HOST_USER= Your SMTP sever email
EMAIL_HOST_PASSWORD= Your SMTP sever password
