
{% include "store/base.html" %}

{% load static %}


{% block content %}

<style>
        
    body{
        
        background-color: grey;
        
    } 


</style>   

<body> 
    
    <br> 
 
    <div class="container bg-white shadow-md p-5 form-layout">
    
        <div class="text-center">
    
            <i class="fa fa-times fa-5x text-danger" aria-hidden="true"></i>
            
            <br> <br>

            <h1>Ur account aint verified</h1>

            <p>Please repeat or contact support</p>
        <div>

    </div>
    
</body>

    <br> <br>









{% endblock %}
