{% include "store/base.html" %}

{% load static %}


{% block content %}

<style>
        
    body{
        
        background-color: grey;
        
    } 


</style>   

<body> 
    
    <br> 
 
    <div class="container bg-white shadow-md p-5 form-layout">
    
        <div class="text-center">
    
            <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
            
            <br> <br>

            <h3> <strong> Verification link was sent to email </strong> </h3>
            
            <hr>
            
            <h5>Please check ur mail</h5>

        <div>

    </div>
    
</body>

    <br> <br>









{% endblock %}