{% include "store/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <style>
        
        body{
            
            background-color: grey;
            
        } 


    </style>   


<body> 

   <br> 

    <div class="container bg-white shadow-md p-5 form-layout">
        
        <h3> Create ur account </h3>

        <h5> Purchase ur favourite items today </h5>
        
        <br><br>

        <form method="POST" autocomplete="off">
            
            {% csrf_token %}

            {{ form.username|as_crispy_field }}
            <br> <br>    
            
            {{ form.email|as_crispy_field }}
            <br> <br>    
            
            {{ form.password1|as_crispy_field }}
            <br> <br>    

            {{ form.password2|as_crispy_field }}
            <br> <br>    
            <button type="submit" class="btn btn-secondary btn-lg w-100 btn-block p-2"> &nbsp; Create
        
            </button>

        </form>
        
        <br>

        <p class="text-center">Already have an account? <a class="text-info text-decoration-none" href="{% url 'my-login' %}"> Log in </a></p>
          

    
    </div>
    
    

</body>

    <br> <br>









{% endblock %}