
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}



{% block content %}

    <style>


        body{


            background-color: gray;

        }



    </style>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">

        <h3> Enter your new password: </h3>

        <hr>

        <p> Please enter your new password twice so that we can verify that

            you typed it in correctly!

        </p>

        <form method="post">

            {% csrf_token %}

            {{form|crispy}}

            <br>

            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2"> Update password </button>



        </form>

    </div>


{% endblock %}


