
{% include "store/base.html" %}

{% load static %}


{% block content %}

<style>
        
    body{
        
        background-color: grey;
        
    } 


</style>   

<body> 
    
    <br> 
 
    <div class="container bg-white shadow-md p-5 form-layout">
    
        <div class="text-center">
    
            <i class="fa fa-frown-o fa-5x " aria-hidden="true"></i>
            
            <br> <br>

            <h1>Ur account was deleted</h1>
            <p>Hope we'll see u back</p>


        <div>

    </div>

</body>

    <br> <br>









{% endblock %}