{% extends "store/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <style>
        
        body{
            
            background-color: grey;
            
        } 


    </style>   


<body> 
   <br> 

    <div class="container bg-white shadow-md p-5 form-layout">
        
        <h3>Update ur account</h3>

        
        <br>
        <br>

        <form method="POST" autocomplete="off">
            
            {% csrf_token %}

            {{ user_form.username|as_crispy_field }}
         
            <br> 

            {{ user_form.email|as_crispy_field }}

            <br>

            <button type="submit" class="btn btn-primary navbar-btn text-white" type="button"> &nbsp; Update 
        
        </form>
    
    </div>            

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">
    
        <h3>Shipping info</h3>
        
        <hr>

        <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'manage-shipping' %} "> Shipping info </a>


    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout">
    
        <h3>Delete account</h3>
        
        <p>Be carefull. You won't be able to recover your account</p>

        <hr>

        <a class="btn btn-primary navbar-btn text-white" type="button" href="{% url 'delete-account' %} "> Delete account </a>


    </div>


</body>

    <br> <br>









{% endblock %}