
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

    <style>


        body{


            background-color: gray;

        }
        



    </style>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout ">

        <h3> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp; My orders </h3>

        <p> View all of your orders. </p>

        <hr>


    </div>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout ">

        {% for order in orders %}

            <strong> <i class="fa fa-list-alt" aria-hidden="true"></i> &nbsp;  Order ID # {{order.id}} </strong>
            
            <br> <br>

            {{order.product}}

            <br> <br>

            Quantity x {{order.quantity}}

            <br> <br>

            $ {{order.price}}

            <br> <br>

            <hr>


        {% endfor %}

    </div>

    <br>

{% endblock %}